In [2]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
from rpy2.robjects.packages import importr

pandas2ri.activate()

# Install SPEI and zoo packages if not already installed
# Check if SPEI is installed, if not, install it
if not robjects.r('require(SPEI)'):
    print("SPEI package not found in R, installing...")
    robjects.r('install.packages("SPEI", repos="http://cran.us.r-project.org")')
    print("SPEI package installed.")
else:
    print("SPEI package already installed.")

# Check if zoo is installed, if not, install it
if not robjects.r('require(zoo)'):
    print("zoo package not found in R, installing...")
    robjects.r('install.packages("zoo", repos="http://cran.us.r-project.org")')
    print("zoo package installed.")
else:
    print("zoo package already installed.")


# Load SPEI and zoo packages
robjects.r('''
library(SPEI)
library(zoo)
''')

# Load SPEI and zoo packages
robjects.r('''
library(SPEI)
library(zoo)
''')

ImportError: cannot import name 'pandas2ri' from 'rpy2.robjects' (unknown location)

In [2]:
import pandas as pd
import numpy as np
predictions = pd.read_csv("../run_outputs/PRE_ConvLSTM_EncoderDecoder_Run/global_convlstm_improved_full_predictions.csv")

In [3]:
predictions

,time,lat,lon,pre,pre_predicted,prediction_error,absolute_error
0,1902-01-16,6.25,101.25,-0.148013,-0.157784,-0.009771,0.009771
1,1902-01-16,6.25,101.75,0.092573,0.045592,-0.046981,0.046981
2,1902-01-16,6.75,99.75,-0.343619,-0.214873,0.128746,0.128746
3,1902-01-16,6.75,100.25,-0.359833,-0.275609,0.084224,0.084224
4,1902-01-16,6.75,100.75,-0.346234,-0.163547,0.182687,0.182687
...,...,...,...,...,...,...,...
262051,2023-12-16,19.75,99.25,-0.555439,0.103209,0.658649,0.658649
262052,2023-12-16,19.75,99.75,-0.561716,-0.054075,0.507641,0.507641
262053,2023-12-16,19.75,100.25,-0.560670,-0.103732,0.456937,0.456937
262054,2023-12-16,20.25,99.75,-0.554393,-0.264965,0.289429,0.289429
262055,2023-12-16,20.25,100.25,-0.558054,-0.295492,0.262562,0.262562

In [18]:
import joblib
scaler = joblib.load("../data/processed/robust_scaler_pre.joblib")

In [20]:
#create pre_inverse, pre_predicted_inverse columns in predictions dataframe
predictions['pre_inverse'] = scaler.inverse_transform(predictions[['pre']])
predictions['pre_predicted_inverse'] = scaler.inverse_transform(predictions[['pre_predicted']])

In [21]:
predictions

,time,lat,lon,pre,pre_predicted,prediction_error,absolute_error,pre_inverse,pre_predicted_inverse
0,1902-01-16,6.25,101.25,-0.148013,-0.157784,-0.009771,0.009771,81.000000,79.131697
1,1902-01-16,6.25,101.75,0.092573,0.045592,-0.046981,0.046981,127.000000,118.017284
2,1902-01-16,6.75,99.75,-0.343619,-0.214873,0.128746,0.128746,43.600003,68.216321
3,1902-01-16,6.75,100.25,-0.359833,-0.275609,0.084224,0.084224,40.499999,56.603597
4,1902-01-16,6.75,100.75,-0.346234,-0.163547,0.182687,0.182687,43.100002,78.029833
...,...,...,...,...,...,...,...,...,...
262051,2023-12-16,19.75,99.25,-0.555439,0.103209,0.658649,0.658649,3.099996,129.033643
262052,2023-12-16,19.75,99.75,-0.561716,-0.054075,0.507641,0.507641,1.899996,98.960877
262053,2023-12-16,19.75,100.25,-0.560670,-0.103732,0.456937,0.456937,2.099992,89.466386
262054,2023-12-16,20.25,99.75,-0.554393,-0.264965,0.289429,0.289429,3.300001,58.638768
262055,2023-12-16,20.25,100.25,-0.558054,-0.295492,0.262562,0.262562,2.599999,52.801914

In [15]:
full_df = pd.read_csv("../data/full_newtime.csv")

In [17]:
full_df[full_df["time"] == "1902-01-16"]

,lon,lat,time,tmp,dtr,cld,tmx,tmn,pre,wet,vap,spei,soi,dmi,pdo,nino4,nino34,nino3,pet
2148,101.25,6.25,1902-01-16,24.800001,9.3,62.500000,29.500000,20.200000,81.000000,9.510000,25.200000,-0.322998,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,102.3
2149,101.75,6.25,1902-01-16,25.400000,8.0,65.100000,29.400000,21.400000,127.000000,12.139999,26.700000,-0.347505,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,99.2
2150,99.75,6.75,1902-01-16,27.200000,9.8,55.000000,32.100002,22.300001,43.600002,3.710000,26.000000,-0.164277,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,127.1
2151,100.25,6.75,1902-01-16,26.300001,9.8,58.800000,31.200000,21.400000,40.500000,4.950000,25.800001,-0.242470,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,117.8
2152,100.75,6.75,1902-01-16,25.600000,9.0,62.500000,30.100000,21.100000,43.100002,6.730000,26.100000,-0.519982,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,108.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322,99.25,19.75,1902-01-16,18.100000,16.2,28.600000,26.200000,10.000000,11.900001,1.730000,14.400001,0.488774,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,77.5
2323,99.75,19.75,1902-01-16,19.000000,15.8,29.800001,26.900000,11.100000,13.200000,1.800000,16.200000,0.541049,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,77.5
2324,100.25,19.75,1902-01-16,19.000000,15.8,32.300000,26.900000,11.100000,13.900001,2.140000,16.600000,0.492604,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,77.5
2325,99.75,20.25,1902-01-16,18.200000,16.1,31.100000,26.300001,10.200000,14.600000,2.240000,15.200000,0.386278,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,77.5
2326,100.25,20.25,1902-01-16,19.000000,15.7,33.600002,26.900000,11.200000,15.500000,2.490000,16.700000,0.460690,1.677,-0.473,0.92467,-0.54,-0.5,-0.1,77.5